[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.2.1
[submodule "tests/thirdparty/catch"]
	path = tests/thirdparty/catch
	url = https://github.com/philsquared/Catch.git
