# Include the license file
include tox.ini README.rst CMakeLists.txt tests/CMakeLists.txt requirements-dev.txt pytest.ini

recursive-include cmake *.cmake
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude _skbuild *
recursive-exclude tests/sample_images *
recursive-include py3exiv2bind *.py *.cpp *.h CMakeLists.txt
recursive-exclude py3exiv2bind  *.pyd
recursive-include thirdparty *