[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]
pytest = "*"
pytest-runner = "*"
tox = "*"
mypy = "*"
"flake8" = "*"
lxml = "*"
Sphinx = "*"
wheel = "*"

[requires]
python_version = "3.6"
