build
cmake
conan
coverage
devpi-client<6.0
flake8
gcovr
importlib-metadata>=0.12; python_version < "3.8"
lxml
mypy
ninja
paramiko
pytest
pylint
pytest-bdd
pytest-cov
pytest-runner
sphinx
-r requirements/requirements_tox.txt
twine
