build
cmake<4.0
conan<2.0
coverage
flake8
gcovr
importlib-metadata>=0.12; python_version < "3.8"
lxml
macholib ; sys_platform == 'darwin'
mypy
ninja
paramiko
pybind11
pytest
pylint
pytest
pytest-bdd
sphinx
toml
tox
twine
uiucprescon.build @ https://github.com/UIUCLibrary/uiucprescon_build/archive/refs/tags/v0.2.5.tar.gz
