name: Build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true


on:
  push:
  workflow_dispatch:
    inputs:
      save:
        description: 'Save Wheels'
        required: true
        default: false
        type: boolean


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macOS-latest
            compiler_version: 13
          - os: ubuntu-latest
            compiler_version: 10.2
          - os: windows-latest

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install uv
        run: python -m pip install uv
      - name: Build wheels
        if: contains(matrix.os, 'windows')
        shell: cmd
        run: |
          rmdir /S /Q C:\\Strawberry
          "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\Common7\Tools\VsDevCmd.bat" -arch=amd64 && uv run --only-group cibuildwheel -m cibuildwheel --output-dir wheelhouse
        env:
          CONAN_COMPILER_VERSION: ${{ matrix.compiler_version }}
      - name: Build wheels
        run: uv run --only-group cibuildwheel -m cibuildwheel --output-dir wheelhouse
        if: "!contains(matrix.os, 'windows')"
#      - name: Build wheels
#        uses: pypa/cibuildwheel@v2.11.2
        env:
           CONAN_COMPILER_VERSION: ${{ matrix.compiler_version }}

        #   CIBW_SOME_OPTION: value
      - uses: actions/upload-artifact@v4
        if:  ${{ inputs.save }}
        with:
          name: uiucprescon.ocr-wheels
          path: ./wheelhouse/*.whl